:root {
    --glow-color: hsl(186 100% 69%);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Philosopher';
}

/* .banner {
    width: 100%;
    height: 100vh;
    margin-top: 15px;
    background-image: linear-gradient(To right, hsla(250, 69%, 65%, 0.675),
     hsla(250, 69%, 65%, 0.575),
     hsla(265, 78%, 77%, 0.685)),
      url(/image/mosque_illustration_for_dribble-01_4x.webp);
      background-position: center;
    box-shadow: rgba(0, 0, 0, 0.65) 0px 5px 15px;
    border-radius: 15px;
} */

.banner-text {
    font-weight: 600;
    text-align: center;
    margin-top: 20vh !important;
    font-size: 2em;
    color: whitesmoke;
}

.banner h1 {
    text-align: center;
    margin-top: 10vh;
    font-weight: 900;
    font-size: 60px;
    color: whitesmoke;
}

.input-field {
    display: grid;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(To right, hsla(250, 69%, 65%, 0.675),
     hsla(250, 69%, 65%, 0.575),
     hsla(265, 78%, 77%, 0.685)),
      url(/image/mosque_illustration_for_dribble-01_4x.webp);
      background-position: center;
    box-shadow: rgba(0, 0, 0, 0.65) 0px 5px 15px;
    border-radius: 15px;
}
.input-field-1{
margin-top: 100px;
}
.inputBox {
    position: relative;
    width: 300px;
    margin-top: 35px;
}

.inputBox input {
    position: relative;
    width: 100%;
    padding: 0px 10px 10px;
    background: transparent;
    outline: none;
    box-shadow: none;
    border: none;
    color: #ffffff;
    font-size: 1em;
    letter-spacing: 0.05em;
    transition: 0.5s;
    z-index: 10;
}

.inputBox span {
    width: 100%;
    position: absolute;
    left: 0;
    /* padding: 1px 10px; */
    pointer-events: none;
    font-size: 18px;
    font-weight: 600;
    color: whitesmoke;
    letter-spacing: 0.02em;
    transition: 0.5s;
}

.inputBox input:valid~span,
.inputBox input:focus~span {
    color: whitesmoke;
    transform: translateX(0px) translateY(-34px);
    font-size: 1em;
}

.inputBox i {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 5px;
    background: hsl(252, 40%, 53%);
    border-radius: 4px;
    overflow: hidden;
    transition: 0.5s;
    pointer-events: none;
    z-index: 9;
}

.inputBox input:valid~i,
.inputBox input:focus~i {
    height: 44px;
}

.input-field-text h3 {
    color: whitesmoke;
    margin-top: 30px;
    font-weight: 600;
}

.glow-on-hover {
    width: 220px;
    height: 50px;
    font-size: 20px;
    border: 1px solid rgb(255, 255, 255);
    outline: none;
    text-transform: uppercase;
    letter-spacing: 0.7px;
    color: #fff;
    cursor: pointer;
    position: relative;
    z-index: 0;
    margin-top: 20px;
    border-radius: 10px;
    background: transparent;
}

.glow-on-hover a {
    text-decoration: none;
    color: whitesmoke;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #6f1873, #1900ff, #a719ba, #956dfa, #00ffd5, #002bff, #7a00ff, #ff00c8, #0c0b4e);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;

}

.glow-on-hover:active {
    color: #000;
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: transparent;
    left: 0;
    top: 0;
    border-radius: 10px;

}

@keyframes glowing {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}

.footer h2{
    text-align: center;
    color: whitesmoke;
    margin-top: 30px;
}
@media only screen and (max-width: 500px) {
    .banner h1 {
        font-size: 40px;
    }

}